source_url "https://raw.githubusercontent.com/cachix/devenv/v2.0.6/devenv/direnvrc" "sha256-SedUl6058dnxQASrSeERFCrNESprWThYgZhQ2j4mWss="

_saved_path=$PATH

use devenv \
    --nix-option extra-trusted-public-keys 'ryantrinkle.com-1:JJiAKaRv9mWgpVAz8dwewnZe0AzzEAzPkagE9SP5NWI=' \
    --nix-option extra-trusted-public-keys 'miso-haskell.cachix.org-1:6N2DooyFlZOHUfJtAx1Q09H0P5XXYzoxxQYiwn6W1e8=' \
    --nix-option extra-trusted-public-keys 'hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=' \
    --nix-option extra-trusted-public-keys 'tweag-tricorder.cachix.org-1:PbwYPJ9gF8Wns14ai0sHK3iblqFd5YUrj0zEzGsJ/wg=' \
    --nix-option extra-substituters 'https://nixcache.reflex-frp.org' \
    --nix-option extra-substituters 'https://miso-haskell.cachix.org' \
    --nix-option extra-substituters 'https://cache.iog.io' \
    --nix-option extra-substituters 'https://tweag-tricorder.cachix.org' \
    --nix-option allow-import-from-derivation true

# Workaround for Mac not having access to global packages
case $OSTYPE in
  darwin*) export PATH=$PATH:$_saved_path
esac
