dist*
static/tmp/
static/combined/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
.hsenv*
cabal-dev/
.stack-work/
.stack-work-devel/
.stack-work-hls/
.stack-work-test/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
*.keter
*~
\#*
.build-cache
.dir-locals.el
.sass-cache/
static/css/main.css
static/js/purescript.js
static/js/frontend.js
static/upload/
static/js/.purescript.max.js
.cache
stack.yaml.lock
stack.hls.yaml.lock
.hie
stan.html
ghcid.txt
node_modules/
.vscode

# Untracking the livagents.json file for the initial development phase
openapi/livagents.json

# Devenv
.devenv*
devenv.local.nix
.devcontainer.json

# direnv
.direnv
.env
.env-nix

# pre-commit
.pre-commit-config.yaml

# purescript
.spago
output
output-es
.psc-ide-port
tags
.psci_modules
.purs-repl

/result
/ops/base-image/result
.mcp.json
